.header-container {
    margin: 0 auto;
    position: relative;
}

.travel-logo {
    float: left;
    margin-top: 10px;
}

.travel-navigation-wrapper {
    float: right;
    margin-top: 10px;
}

.clear {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    zoom: 1;
}

li {
    display: inline-block;
    position: relative;
}

li a {
    padding: 25px;
    display: block;
    color: #000000;
}

.sub-menu {
    pointer-events: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 200px;
    z-index: 1;
    left: -30%;
}

.sub-menu li {
    display: block;
}

ul li a:hover {
    color: #0D6E23;
}

.common-banner-section .common-image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.common-banner-section .common-image-container .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.common-banner-section .common-image-container .custom-container {
    position: relative;
    width: 100%;
}

.common-banner-section .common-image-container.fixed-banner-height {
    height: 394px;
}

.common-banner-section .common-image-container.fixed-banner-height .custom-container {
    position: relative;
    width: 100%;
}

.common-banner-section .common-image-container .inner {
    max-width: 730px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 275px;
}

.common-banner-section .common-image-container .inner .banner-text {
    color: #fff;
    text-align: center;
}

.common-banner-section .common-image-container .inner .banner-text.text-right {
    text-align: right;
}


/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev,
.slick-slider .slick-next {
    z-index: 1;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    display: none;
}

.slick-slider .slick-prev {
    left: 20px;
}

.common-banner-section .slick-slider .slick-prev:after {
    content: '';
    width: 55px;
    height: 55px;
    background-image: url("../images/left-arrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 42px;
    top: 0px;
}

.slick-slider .slick-next {
    right: 20px;
}

.common-banner-section .slick-slider .slick-next:after {
    content: '';
    width: 55px;
    height: 55px;
    background-image: url("../images/right-arrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 0px;
}

.slick-slider.slick-dotted {
    margin-bottom: 0;
}

.slick-slider.slick-dotted .slick-dots {
    bottom: 45px;
}

.slick-slider.slick-dotted .slick-dots li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #959595;
    margin: 0 7px;
}

.slick-slider.slick-dotted .slick-dots li button {
    color: #fff;
    opacity: 0;
}

.slick-slider.slick-dotted .slick-dots li button:before {
    font-size: 14px;
}

.slick-slider.slick-dotted .slick-dots li.slick-active {
    background-color: #fff;
}

/*----------------------------------- Slick Slider Ends -----------------------------------*/
.find-destination-section {
    background-color: #a69888;
}

.form-group {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding-right: 10px;
}

.form-group input {
    display: inline-block;
    outline: none;
    border: 0;
    height: 49.6px;
    width: 350px;
    border-radius: 5px;
    padding-left: 10px;
}


.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f73d2;
    font-size: 1.1em;
    font-weight: 700;

    transition: ease-in-out 0.6s;
}

.navigation a:hover {
    letter-spacing: 0.005em;
    font-weight: bold;
    color: #3b3e8f;
}

.navigation {
    background-color: #d9f0ff;
    width: 60vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding-left: 3vw;
    background-color: #d9f0ff;
    width: 40vw;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Overview Page Starts */

.overview-Page {
    margin-bottom: 3vh;
    height: 80vh;
    background-color: #d9f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-Container {

    background-color: white;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.overview-Description {
    text-align: center;
    margin-bottom: 30px;
    color: #3b3e8f;
    font-size: 1.2em;
    line-height: 1.5;
}

.overview-Video {
    text-align: center;
    border-radius: 15px;
    padding: 30px 0;
}

.overview-Video video {
    object-fit: cover;
    height: 55vh;
    width: 90vw;
    border-radius: 15px;
}

.popular-packages {
    background-color: #f0f0f0;
}

h1 {
    padding-bottom: 25px;
    text-align: center;
}

.image-container img {
    width: 390px;
    height: auto;
}

.packages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.packages-item-wrapper {
    width: 33.33%;
    position: relative;
    padding: 15px;
    text-align: center;
    margin-top: 32px;

}

.content-description {
    margin: 15px 0;
}

.rowingo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.columningo {
    flex: 33.33%;
    /* max-width: 25%; */
    padding: 0 4px;
}

.mid-column {
    align-self: center;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.stories-section {
    background-color: #f0f0f0;
}

.common-item-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.common-item-block .image-container,
.common-item-block .text-container {
    width: 50%;
}

.common-item-block .image-container .inner,
#stories-page .common-banner-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 362px;
}

.common-item-block .block-item {
    padding: 0 25px;
}

.common-item-block:nth-of-type(odd) .block-item {
    position: relative;
}

.common-item-block:nth-of-type(odd) .block-item.image-container {
    right: -50%;
}

.common-item-block:nth-of-type(odd) .block-item.text-container {
    left: -50%;
}

.common-item-block.add-bottom-padding {
    padding-bottom: 70px;
}

.offer-section .section-content {
    background-image: url('../images/parallax.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.offer-section {
    padding-top: 70px;
}

.botton-notify-section {
    background-color: #4a4848;
}

.push-notification-section {
    display: flex;
}

.message {
    width: 75%;
}

.button-section {
    width: 25%;
    text-align: right;
}

.message {
    color: #ffffff;
}

.travel-btn {
    width: 182px;
    background: #0d6e23;
    border: 3px solid #0d6e23;
    border-radius: 8px;
    outline: none;
    padding: 10px 40px;
}

.travel-btn a {
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.common-stories-container .text-content {
    margin-bottom: 20px;
}

.stories-button-section {
    text-align: center;
}

/* Footer Starts */

#footer-wrapper {
    height: 60vh;
    background-color: #d9f0ff;
}

.footer-Content {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* gallery page css */
.gallery-page{
  margin-top: 3vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: #d9f0ff; */
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery{

}

.gallery-cover img{
    height: 502px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;



}



.gallery-container{
  width: 95%;
  margin: 2rem auto;


}

.row {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row > * {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.gallery-container img{
  width: 90%;
  height: 280px;
  transition: transform .5s ease;
}

.gallery-container img:hover{

    transform: scale(0.9);
  }




@media (min-width: 992px) {
  .gallery-container{
    width: 95%;
    margin: 2rem auto;


  }
  .row > * {
      width:calc(100% / 3);
   }
 }

.footer-Logo,
.footer-Nav,
.footer-Contact {
    color: #6f73d2;
    height: 30vh;
}

.footer-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-Logo img {
    object-fit: cover;
    height: 28vh;
}

.footer-Nav {
    display: flex;
    flex-direction: column;
}

.footer-Nav a {
    line-height: 3.5vh;
    text-decoration: none;
    color: #6f73d2;
}

.footer-Social {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-Social img {
    margin: 0 5px;
}

.footer-Watermark {
    height: 3vh;
    text-align: center;
    line-height: 3vh;
}

/* Footer ends */

.grid-Item-1 {
    background-color: white;
    height: 45vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: 0.6s ease-in-out;
}

.footerContent {
    height: 50vh;
      background-color: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      border-bottom: 2px solid;
      padding: 8px;
  }
  
  .footerLogo,
  .footerNav,
  .footerContact {
    height: 30vh;
  }
  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerLogo img {
    object-fit: cover;
    height: 28vh;
  }
  .footerNav {
    display: flex;
    flex-direction: column;
  }
  .footerNav a {
    color: #fff;
    line-height: 3.5vh;
    padding: 9px;
  }
  .footerContact .contact p{
    padding: 10px;
    color: #fff;
    font-size: 16px;
  }
  .footerContact .contact i{
    padding: 0 18px 0 0;
    color: #fff;
    font-size: 16px;
  }
  
  
  .socialImage .fa{
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 50%;
  }
  
  .socialImage .fa:hover {
      opacity: 0.7;
  }
  
  .socialImage .fa {
    background: #fff;
    color: black;
  }
  
  .footerSocial {
    height: 13vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .footerWatermark {
    height: 3vh;
  
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 1px;
  }
  .footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
  }
  
  /* Package Page Ends */
  
  /* Gallery Page Starts */
  
  
  .gallery-Page {
    background-color: #d9f0ff;
    height: 95vh;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
  >>>>>>> galleryBranch
  }